@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
}
form {
  max-width: 300px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
div {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

#message{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.pimg3 {
background-image: url("Copilot_20260210_175540_1770746266844.png");
min-height: 400px;
  position: relative;
opacity: 0.70;

   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* Sections */
  .section {
    text-align: center;
    padding: 50px 80px;
  }

  .section-dark {
    background-color: #282e34;
    color: #ddd;
  }

  /* Text on Images */
  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    transform: translateY(-50%);
  }

  .ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }

  .ptext .border.trans {
    background-color: transparent;
  }

  /* Mobile Fix */
  @media (max-width: 568px) {
    .pimg1, .pimg3 {
      background-attachment: scroll;
    }
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    .topnav a {
      float: left;
      color: #1affa3;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .topnav a.active {
      background-color: #ffe066;
      color: black;
    }
  
.footer{
position: fixed;
  left: 0;
bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
